html {
   background-color: #526085;
   height: 100%;
   margin: 0;

}





/* this class is for finding bugs */
/*
 *{
   
   box-sizing: border-box;
    outline:  1px solid red !important; 

   background: rgb(100 0 0 / 0.12 ) !important;

}
   */


img {
   max-width: 100%;
   height: auto;
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   font-family: "Jost", sans-serif;
   max-width: 1500px;
   background-color: rgb(234, 237, 240);
   margin: auto;
  
  


}


h1 {
   color: azure;
   text-align: center;
   padding-top: 50px;
   font-size: 24px;
   margin: 0%;
   
   
}


.text-normal {
   color: azure;
}

.text-normal-dark {
   color: rgb(15, 11, 11);
}

.text-links {
   text-decoration: none;
   color: darkblue;

}



/* nav is here yay */

header {

   display: flex;
   background-color: #133653;
   color: azure;
   align-items: center;
   padding-top: 10px;
   padding-bottom: 10px;

}

header div {
   font-size: large;
   padding: 10px;
}



nav {
   display: flex;
   justify-content: flex-end;
   width: 100%;
   padding-right: 25px;

}


li {
   display: inline;
   padding: 5px;

}

nav a:hover {
   color: #728ea5;

}

/* responsive nav code */





@media (max-width: 650px) {


   nav {
      flex-direction: column;
      width: 100%;
      padding: 0%;
   }

   li {
      display: block;
      width: 100%;
      text-align: center;
      padding: 5px;
   }
}



.colored {
   background-color: #526085;
   padding: 5px;
   border-radius: 3px;
}

li a:hover:not(.colored) {
   background-color: #133653;
}

nav a {
   text-decoration: none;
   color: rgb(231, 225, 225);
   font-size: 20px;
}

/* content is here */

#content-box1 {

   background-color: #728ea5;


}



#content-box1-p {
   text-align: center;
   font-size: large;
   padding-top: 10px;
   padding-bottom: 20px;


}







/* start of footer */

footer {
   background-color: #133653;
   min-height: 150px;
   margin-top: auto;

}