/* home css is here */

h2 {
   text-align: center;

}

/* content is here */

#content-box1 {

   background-color: #728ea5;


}



#content-box1-p {
   text-align: center;
   font-size: large;
   padding-top: 10px;
   padding-bottom: 75px;
  


}

/* box 2 */
#content-box2 {

}

#content-box2-p {
   text-align: center;
   padding: 15px 40px 10px 40px;
   
}

#content-box2-iner1 {
display: flex;
justify-content: center;
padding: 20px 100px 50px 100px;


}

#big-image {
   overflow: hidden;
}

/* box 3 */

#content-box3 h2 {
   text-align: center;
   padding: 75px 50px 0px 50px;

}

#content-box3 p {
   text-align: center;
   padding-bottom: 20px;
}

#content-box3 {
   display: flex;
   justify-content: center;
   padding-bottom: 50px;

}

#content-box3-inerbox {
   width: 50%;
   min-width: 200px;
   background-color: #728ea5;

}

/* box 4  note make this responsive so the two boxes go unerneath eachother */

#content-box4 {
   display: flex;
   flex-direction: row;
   background-color: #728ea5;


}

@media (max-width: 950px) {
   #content-box4 {
       flex-direction: column;
   }
}

#content-box4 p {
   font-size: 17px;
   text-align: justify;
   line-height: 1.5;

}

#content-box4-iner1 {
   flex: 40%;
}

#content-box4-iner2 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 60%;
}


#content-box4-iner1 h3 {
   text-align: left;
   padding: 20px 0px 0px 40px;

}

#content-box4-iner1 p {
   padding: 0px 20px 20px 40px;

}

/* video player */

#content-box4 video {
   background-color: red;
   
   
   
   


}