/* gallery styles here*/

h2 a:hover {
    color: #728ea5;
    text-decoration: underline;
}


#content-box2-galery {
    background-color: #2a4f6e;
}

#content-box2-galery-h2 {
    text-align: center;
    padding: 20px;
}

#content-box2-galery-images {
    display: grid;
    grid-template-areas:
        "big smal1 smal2"
        "big smal3 smal4";
    gap: 25px;
    padding: 25px 25px 75px 25px;
    
    

}

#glery-images-big {
    grid-area: big;
    height: 100%; 
}

#glery-images-sm1 {
    grid-area: smal1;
}

#glery-images-sm2 {
    grid-area: smal2;
}

#glery-images-sm3 {
    grid-area: smal3;
}

#glery-images-sm4 {
    grid-area: smal4;
}

.images {
    min-width: 400px;
    min-height: 300px;
    object-fit: cover;
   /* border: none; */
    overflow: hidden;

}







@media (max-width: 650px) {
    #content-box2-galery-images {
        grid-template-areas:
            "big"
            "big"
            "smal1"
            "smal2"
            "smal3"
            "smal4";
            place-items: center;



    }
}



















