/* gallery styles here*/


/* h2 link style */

h2 a:link {
    color: #6900ff;
 }
 
 h2 a:hover {
   color: blue;
   opacity: 0.7;
 }
 
 h2 a:visited {
   color: gray;
 }

/* content box 2 */

#content-box2-h2 {
    text-align: center;
    padding: 20px;
}


/* content box 3 */



#content-box3-gallery {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 25px;
    padding: 20px;
    justify-items: center;
  }
  
  iframe {
    width: 1000px;
    height: 563px;
  }

   
  
  .thumbnail-box {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding-bottom: 75px;
   
  }
  
  .thumbnail-box img {
    height: auto;
    max-width: 150px;
  }
  
  
 
@media (max-width: 1100px) {
    iframe {
      width: 600px;
      height: 338px;
    }

    .thumbnail-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
      }
  }

  @media (max-width: 700px) {
    iframe {
      width: 400px;
      height: 225px;
    }

    .thumbnail-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
      }
  }

  
  
  


