/* gallery styles here*/


/* h2 link style */
h2 a:link {
    color: #6900ff;
 }
 
 h2 a:hover {
   color: blue;
   opacity: 0.7;
 }
 
 h2 a:visited {
   color: gray;
 }

/* content box 2 */

#content-box2-h2 {
    text-align: center;
    padding: 20px;
}

#content-box2 {
    min-height: 150px;
}

/* content box 3 */

#content-box3-galery {
    background-color: #2a4f6e;
}